openapi: 3.1.0

info:
  title: eTradeBazaar API
  version: 1.0.0
  description: |
    REST API for the eTradeBazaar multi-tenant marketplace platform.

    The platform operates across three actor types: platform administrators,
    sellers (multi-member tenants), and customers. Authentication is JWT-based.
    All protected endpoints require a Bearer token in the Authorization header.

    Base URL: https://api.etradebazaar.com

servers:
  - url: https://api.etradebazaar.com
    description: Production
  - url: https://staging-api.etradebazaar.com
    description: Staging
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Auth
    description: Authentication  login, logout, token refresh, and current user.
  - name: Sellers
    description: Seller registration, onboarding, KYC, bank details, members, and platform admin actions.
  - name: Shops
    description: Seller-scoped shop management.
  - name: Products
    description: Product CRUD, approval workflow, bulk upload, and search.
  - name: Product Images
    description: Image upload, deletion, and reordering for a product.
  - name: Product Variants
    description: Variant options, values, and SKUs for a product.
  - name: Categories
    description: Product category tree management.
  - name: Orders
    description: Order creation, negotiation, address assignment, thresholds, and commissions.
  - name: Payments
    description: Razorpay advance and final payments, verification, refunds, and webhooks.
  - name: Shipments
    description: Shiprocket-backed shipment creation, tracking, cancellation, and serviceability.
  - name: Returns
    description: Customer return requests and seller/admin review.
  - name: Payouts
    description: Seller payout initiation, history, and platform configuration.
  - name: Analytics
    description: Seller and platform-level analytics and materialized view refresh.
  - name: Notifications
    description: In-app notifications with SSE streaming.
  - name: Platform
    description: Platform role and member management, and audit logs.
  - name: Address
    description: Customer saved delivery addresses (address book).
  - name: Cart
    description: Customer shopping cart, line items, and checkout.
  - name: Coupons
    description: Platform admin coupon management and customer-facing coupon validation.
  - name: Customers
    description: Customer registration, profile, phone linking, and order history.
  - name: GST
    description: GSTIN verification and seller KYC autofill.
  - name: Location
    description: Pincode lookup for address autofill and serviceability checks.
  - name: Print Areas
    description: Seller-configured print/design area dimensions for print-on-demand products.
  - name: Reviews
    description: Customer product reviews, seller replies, helpfulness voting, and platform admin moderation.
  - name: Security
    description: Two-factor authentication (TOTP), active session management, and account security summary for the authenticated user.
  - name: Seller Profile
    description: Seller personal profile, business details, verification badges, and per-shop statistics. Distinct from the broader Sellers onboarding/KYC/member endpoints.
  - name: Storefront
    description: |
      Public storefront browsing by shop slug: shop details, product listing, and product detail.

      ⚠ NOT CURRENTLY MOUNTED: this module's router is not registered in src/app.ts as of this writing —
      these endpoints are unreachable until it is wired up.
  - name: Templates
    description: Seller-created design templates for print-on-demand products, with public browsing by product.
  - name: Upload Assets
    description: Generic authenticated file uploads (customer uploads, shop assets, KYC documents) to object storage.
  - name: Users
    description: Platform admin user directory search and listing.
  - name: Verification
    description: |
      Seller Aadhaar and government ID (PAN and others) verification submission, status, and platform admin review.

      ⚠ NOT CURRENTLY MOUNTED: this module's router is not registered in src/app.ts as of this writing —
      these endpoints are unreachable until it is wired up.
  - name: Wallet
    description: Authenticated user platform wallet balance, credit top-ups, and transaction history.
  - name: Wishlist
    description: Customer product wishlist management.

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Obtain a token via POST /api/auth/login. Pass it as:
        Authorization: Bearer <token>

  parameters:
    sellerId:
      name: sellerId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the seller.
    shopId:
      name: shopId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the shop.
    productId:
      name: productId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the product.
    categoryId:
      name: categoryId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the category.
    attributeId:
      name: attributeId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the category attribute.
    orderId:
      name: orderId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the order.
    negotiationId:
      name: negotiationId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the negotiation record.
    addressId:
      name: addressId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the order address.
    shipmentId:
      name: shipmentId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the shipment.
    returnId:
      name: returnId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the return request.
    payoutId:
      name: payoutId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the payout.
    memberId:
      name: memberId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the member.
    roleId:
      name: roleId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the role.
    inviteId:
      name: inviteId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the team invite.
    optionId:
      name: optionId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the variant option.
    valueId:
      name: valueId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the variant option value.
    skuId:
      name: skuId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the product SKU.
    imageId:
      name: imageId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the product image.
    viewName:
      name: viewName
      in: path
      required: true
      schema:
        type: string
        enum:
          - seller_order_stats
          - seller_product_stats
          - seller_daily_revenue
          - platform_daily_stats
          - platform_seller_stats
      description: Name of the materialized view to refresh.
    customerAddressId:
      name: addressId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the customer's saved address (address book entry).
    itemId:
      name: itemId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the cart item.
    couponId:
      name: couponId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the coupon.
    reviewId:
      name: reviewId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the review.
    sessionId:
      name: sessionId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the session record.
    shopSlug:
      name: slug
      in: path
      required: true
      schema:
        type: string
      description: URL slug of the shop (storefront-facing, distinct from the shop's CUID).
    templateId:
      name: templateId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the template.
    assetId:
      name: assetId
      in: path
      required: true
      schema:
        type: string
      description: CUID of the uploaded asset.

  schemas:
    SuccessEnvelope:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          example: true
        data:
          description: Present on successful responses that return a payload.

    MessageEnvelope:
      type: object
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Resource deleted.

    ErrorEnvelope:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: Resource not found.

    Address:
      type: object
      required:
        - street
        - city
        - state
        - pincode
      properties:
        street:
          type: string
          example: 12, MG Road
        city:
          type: string
          example: Ahmedabad
        state:
          type: string
          example: Gujarat
        pincode:
          type: string
          pattern: '^\d{6}$'
          example: "380001"

    DeliveryAddress:
      allOf:
        - $ref: "#/components/schemas/Address"
        - type: object
          required:
            - receiverName
            - phone
          properties:
            receiverName:
              type: string
              example: Rahul Mehta
            phone:
              type: string
              pattern: '^\+?[6-9]\d{9}$'
              example: "9876543210"
            latitude:
              type: number
              format: double
              example: 23.0225
            longitude:
              type: number
              format: double
              example: 72.5714

    CustomerAddress:
      description: A customer's saved delivery address (address book entry).
      allOf:
        - $ref: "#/components/schemas/DeliveryAddress"
        - type: object
          properties:
            id:
              type: string
              example: clxaddr1234abcd
            userId:
              type: string
            label:
              type: string
              nullable: true
              example: Home
            isDefault:
              type: boolean
              example: true
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    PincodeDetails:
      type: object
      required:
        - pincode
        - city
        - state
      properties:
        pincode:
          type: string
          example: "380001"
        city:
          type: string
          example: Ahmedabad
        state:
          type: string
          example: Gujarat
        district:
          type: string
          nullable: true
        taluka:
          type: string
          nullable: true
        division:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        circle:
          type: string
          nullable: true
        deliveryStatus:
          type: string
          nullable: true
        divisionName:
          type: string
          nullable: true
        regionName:
          type: string
          nullable: true
        circleName:
          type: string
          nullable: true

    GstDetails:
      type: object
      properties:
        gstin:
          type: string
          example: "24AAACT2727Q1ZW"
        legalName:
          type: string
          example: Test Business Pvt Ltd
        tradeName:
          type: string
          example: Test Business
        status:
          type: string
          example: Active
        address:
          type: string
          example: 123 Test Street, Test City, Test State 000000
        registrationDate:
          type: string
          example: 01/01/2020
        businessType:
          type: string
          example: Private Limited Company
        raw:
          description: Raw response payload from the upstream GST verification provider.

    User:
      type: object
      properties:
        id:
          type: string
          example: clxyz1234abcd
        email:
          type: string
          format: email
          example: user@example.com
        name:
          type: string
          nullable: true
          example: Rahul Mehta
        isActive:
          type: boolean
          example: true
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CustomerProfile:
      description: A customer-facing subset of the User record.
      type: object
      properties:
        id:
          type: string
          example: clxyz1234abcd
        name:
          type: string
          nullable: true
          example: Rahul Mehta
        email:
          type: string
          format: email
          example: user@example.com
        phone:
          type: string
          nullable: true
          example: "9876543210"
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Seller:
      type: object
      properties:
        id:
          type: string
          example: clxyz1234abcd
        name:
          type: string
          example: Rahul Mehta
        email:
          type: string
          format: email
          example: seller@example.com
        phone:
          type: string
          example: "9876543210"
        businessName:
          type: string
          example: Mehta Traders Pvt Ltd
        businessType:
          $ref: "#/components/schemas/BusinessType"
        street:
          type: string
        city:
          type: string
        state:
          type: string
        pincode:
          type: string
        status:
          $ref: "#/components/schemas/SellerStatus"
        invitedBy:
          type: string
          nullable: true
        suspendedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Shop:
      type: object
      properties:
        id:
          type: string
        sellerId:
          type: string
        name:
          type: string
          example: Mehta Electronics
        slug:
          type: string
          example: mehta-electronics
        description:
          type: string
          nullable: true
        category:
          type: string
          example: Electronics
        logo:
          type: string
          format: uri
          nullable: true
        banner:
          type: string
          format: uri
          nullable: true
        contactEmail:
          type: string
          format: email
        contactPhone:
          type: string
        returnPolicy:
          type: string
          nullable: true
        pickupStreet:
          type: string
        pickupCity:
          type: string
        pickupState:
          type: string
        pickupPincode:
          type: string
        latitude:
          type: number
          nullable: true
        longitude:
          type: number
          nullable: true
        status:
          $ref: "#/components/schemas/ApprovalStatus"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Product:
      type: object
      properties:
        id:
          type: string
        shopId:
          type: string
        sellerId:
          type: string
        categoryId:
          type: string
        name:
          type: string
          example: Wireless Bluetooth Headset
        description:
          type: string
          nullable: true
        price:
          type: number
          format: double
          nullable: true
          example: 1299.00
        compareAtPrice:
          type: number
          format: double
          nullable: true
          example: 1599.00
        sku:
          type: string
          nullable: true
          example: SKU-WBH-001
        stock:
          type: integer
          nullable: true
          example: 150
        lowStockThreshold:
          type: integer
          nullable: true
        weightGrams:
          type: integer
          nullable: true
        length:
          type: number
          nullable: true
        width:
          type: number
          nullable: true
        height:
          type: number
          nullable: true
        isDigital:
          type: boolean
          example: false
        status:
          $ref: "#/components/schemas/ApprovalStatus"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ProductImage:
      type: object
      properties:
        id:
          type: string
        productId:
          type: string
        url:
          type: string
          format: uri
        key:
          type: string
        order:
          type: integer
        createdAt:
          type: string
          format: date-time

    VariantOption:
      type: object
      properties:
        id:
          type: string
        productId:
          type: string
        name:
          type: string
          example: Color
        values:
          type: array
          items:
            $ref: "#/components/schemas/VariantOptionValue"

    VariantOptionValue:
      type: object
      properties:
        id:
          type: string
        optionId:
          type: string
        value:
          type: string
          example: Red

    ProductSKU:
      type: object
      properties:
        id:
          type: string
        productId:
          type: string
        sku:
          type: string
          example: SKU-WBH-RED-L
        price:
          type: number
          format: double
          example: 1299.00
        stock:
          type: integer
          example: 50
        minQuantity:
          type: integer
          example: 1
        options:
          type: object
          additionalProperties:
            type: string
          description: Key-value map of variant option names to selected values.
          example:
            Color: Red
            Size: L

    Category:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: Electronics
        slug:
          type: string
          example: electronics
        description:
          type: string
          nullable: true
        parentId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CategoryAttribute:
      type: object
      description: |
        Admin-defined custom field on a category. Non-variant attributes (isVariant: false)
        are validated against Product.attributes at product-creation time; variant attributes
        (isVariant: true, e.g. size/color) are instead modeled via VariantOption/ProductSKU.
      properties:
        id:
          type: string
        categoryId:
          type: string
        key:
          type: string
          description: Machine key used as the property name in Product.attributes.
          example: ram_gb
        label:
          type: string
          example: RAM (GB)
        type:
          type: string
          enum: [TEXT, NUMBER, ENUM, BOOLEAN]
        required:
          type: boolean
        isVariant:
          type: boolean
          description: If true, this attribute is a variant axis (e.g. size/color) rather than a plain product spec.
        options:
          type: array
          items:
            type: string
          description: Allowed values. Required when type is ENUM, disallowed otherwise.
        unit:
          type: string
          nullable: true
          example: GB
        sortOrder:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Order:
      type: object
      properties:
        id:
          type: string
        sellerId:
          type: string
        customerId:
          type: string
        type:
          $ref: "#/components/schemas/OrderType"
        status:
          $ref: "#/components/schemas/OrderStatus"
        totalAmount:
          type: number
          format: double
          example: 3897.00
        finalAmount:
          type: number
          format: double
          nullable: true
        commissionRate:
          type: number
          format: double
          nullable: true
        commissionAmount:
          type: number
          format: double
          nullable: true
        paymentStatus:
          $ref: "#/components/schemas/PaymentStatus"
        assignedShopId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    OrderItem:
      type: object
      properties:
        id:
          type: string
        orderId:
          type: string
        productId:
          type: string
        skuId:
          type: string
          nullable: true
        quantity:
          type: integer
        unitPrice:
          type: number
          format: double
        finalUnitPrice:
          type: number
          format: double
          nullable: true
        selectedOptions:
          type: object
          nullable: true

    CartItem:
      type: object
      properties:
        id:
          type: string
        productId:
          type: string
        skuId:
          type: string
          nullable: true
        productName:
          type: string
        image:
          type: string
          nullable: true
          description: URL of the product's primary image, if any.
        quantity:
          type: integer
        unitPrice:
          type: number
          format: double
        lineTotal:
          type: number
          format: double
        availableStock:
          type: integer
        options:
          type: object
          nullable: true
          description: Selected SKU variant options, if this line item is for a specific SKU.
        weightGrams:
          type: integer
          example: 500

    Cart:
      type: object
      description: The customer's cart, its line items, and computed subtotal.
      properties:
        cart:
          type: object
          properties:
            id:
              type: string
            userId:
              type: string
            sellerId:
              type: string
              nullable: true
              description: All items in a cart belong to a single seller. Null when the cart is empty.
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
        items:
          type: array
          items:
            $ref: "#/components/schemas/CartItem"
        subtotal:
          type: number
          format: double
        sellerId:
          type: string
          nullable: true

    Coupon:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
          example: WELCOME10
        type:
          type: string
          enum: [PERCENTAGE, FIXED]
        value:
          type: number
          format: double
          example: 10
        currency:
          type: string
          example: INR
        minOrder:
          type: number
          format: double
          nullable: true
        maxUses:
          type: integer
          nullable: true
        usedCount:
          type: integer
        perUserLimit:
          type: integer
        expiresAt:
          type: string
          format: date-time
          nullable: true
        isActive:
          type: boolean
        isStackable:
          type: boolean
        scopeType:
          type: string
          enum: [ALL, CATEGORY, PRODUCT, USER_SEGMENT]
        scopeIds:
          type: array
          items:
            type: string
        firstTimeOnly:
          type: boolean
        userSegment:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        _count:
          type: object
          description: Present on list responses.
          properties:
            usages:
              type: integer

    CouponUsage:
      type: object
      properties:
        userId:
          type: string
        orderId:
          type: string
        discount:
          type: number
          format: double
        createdAt:
          type: string
          format: date-time

    OrderNegotiation:
      type: object
      properties:
        id:
          type: string
        orderId:
          type: string
        proposedBy:
          type: string
        proposedByType:
          type: string
          enum: [seller, customer]
        proposedPrice:
          type: number
          format: double
        status:
          $ref: "#/components/schemas/NegotiationStatus"
        meetLink:
          type: string
          nullable: true
        note:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    Payment:
      type: object
      properties:
        id:
          type: string
        orderId:
          type: string
        razorpayOrderId:
          type: string
        razorpayPaymentId:
          type: string
          nullable: true
        amount:
          type: number
          format: double
        currency:
          type: string
          example: INR
        type:
          $ref: "#/components/schemas/PaymentType"
        status:
          $ref: "#/components/schemas/PaymentStatus"
        attempts:
          type: integer
        refundId:
          type: string
          nullable: true
        refundAmount:
          type: number
          format: double
          nullable: true
        createdAt:
          type: string
          format: date-time

    Shipment:
      type: object
      properties:
        id:
          type: string
        orderId:
          type: string
        orderAddressId:
          type: string
          nullable: true
        shopId:
          type: string
        provider:
          type: string
          example: SHIPROCKET
        trackingId:
          type: string
          nullable: true
        trackingUrl:
          type: string
          format: uri
          nullable: true
        status:
          $ref: "#/components/schemas/ShipmentStatus"
        estimatedDelivery:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    ReturnRequest:
      type: object
      properties:
        id:
          type: string
        orderId:
          type: string
        customerId:
          type: string
        reason:
          type: string
        status:
          $ref: "#/components/schemas/ReturnStatus"
        approvedBy:
          type: string
          nullable: true
        rejectedBy:
          type: string
          nullable: true
        note:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    SellerPayout:
      type: object
      properties:
        id:
          type: string
        sellerId:
          type: string
        grossAmount:
          type: number
          format: double
        commissionAmount:
          type: number
          format: double
        netAmount:
          type: number
          format: double
        method:
          $ref: "#/components/schemas/PayoutMethod"
        razorpayPayoutId:
          type: string
          nullable: true
        utrReference:
          type: string
          nullable: true
        status:
          $ref: "#/components/schemas/PayoutStatus"
        failureReason:
          type: string
          nullable: true
        paidAt:
          type: string
          format: date-time
          nullable: true
        note:
          type: string
          nullable: true
        periodStart:
          type: string
          format: date-time
          nullable: true
        periodEnd:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    SellerKyc:
      type: object
      properties:
        id:
          type: string
        sellerId:
          type: string
        aadharNumber:
          type: string
          example: "123456789012"
        panNumber:
          type: string
          example: ABCDE1234F
        gstNumber:
          type: string
          nullable: true
        businessRegNumber:
          type: string
          nullable: true
        status:
          $ref: "#/components/schemas/KycStatus"
        rejectedReason:
          type: string
          nullable: true
        verifiedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    SellerBankDetail:
      type: object
      properties:
        id:
          type: string
        sellerId:
          type: string
        accountHolderName:
          type: string
        accountNumber:
          type: string
        ifscCode:
          type: string
          example: SBIN0001234
        bankName:
          type: string
        verificationStatus:
          $ref: "#/components/schemas/BankVerificationStatus"
        verifiedAccountHolderName:
          type: string
          nullable: true
          description: Account holder name as returned by the bank verification provider.
        verifiedAt:
          type: string
          format: date-time
          nullable: true
        verificationProvider:
          type: string
          nullable: true
          example: sandbox
        nameMatchScore:
          type: number
          nullable: true
          description: Similarity score between the submitted and verified account holder names.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    SellerMember:
      type: object
      description: A platform user's membership on a seller's team.
      properties:
        id:
          type: string
        userId:
          type: string
        sellerId:
          type: string
        roleId:
          type: string
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        user:
          type: object
          description: Present on list responses.
          properties:
            id:
              type: string
            name:
              type: string
            email:
              type: string
              format: email
        role:
          type: object
          description: Present on list responses.
          properties:
            id:
              type: string
            name:
              type: string

    SellerRole:
      type: object
      description: A custom or default (owner/manager/staff) role scoped to a seller.
      properties:
        id:
          type: string
        sellerId:
          type: string
        name:
          type: string
          example: staff
        description:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        _count:
          type: object
          description: Present on list responses.
          properties:
            members:
              type: integer

    Permission:
      type: object
      properties:
        id:
          type: string
        key:
          type: string
          example: seller.bank.manage
        description:
          type: string
          nullable: true

    TeamInvite:
      type: object
      description: A pending invite for a platform user to join a seller's team with a specific role.
      properties:
        id:
          type: string
        sellerId:
          type: string
        email:
          type: string
          format: email
        roleId:
          type: string
        invitedBy:
          type: string
        token:
          type: string
        status:
          $ref: "#/components/schemas/InviteStatus"
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        role:
          type: object
          description: Present on list responses.
          properties:
            id:
              type: string
            name:
              type: string

    PlatformRole:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: product_reviewer
        description:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    PlatformMember:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        roleId:
          type: string
        role:
          $ref: "#/components/schemas/PlatformRole"
        createdAt:
          type: string
          format: date-time

    Notification:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        type:
          $ref: "#/components/schemas/NotificationType"
        title:
          type: string
        message:
          type: string
        data:
          type: object
          nullable: true
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time

    AuditLog:
      type: object
      properties:
        id:
          type: string
        sellerId:
          type: string
          nullable: true
        actorId:
          type: string
        actorType:
          type: string
        action:
          type: string
        entityType:
          type: string
        entityId:
          type: string
        metadata:
          type: object
          nullable: true
        ipAddress:
          type: string
          nullable: true
        userAgent:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    BusinessType:
      type: string
      enum: [INDIVIDUAL, COMPANY, PARTNERSHIP]

    SellerStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED, SUSPENDED]

    KycStatus:
      type: string
      enum: [PENDING, VERIFIED, REJECTED]

    ApprovalStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED]

    InviteStatus:
      type: string
      enum: [PENDING, ACCEPTED, EXPIRED, REVOKED]

    BankVerificationStatus:
      type: string
      enum: [PENDING, VERIFIED, NAME_MISMATCH, FAILED]

    OrderType:
      type: string
      enum: [STANDARD, HIGH_TICKET, SAMPLE, BULK]

    OrderStatus:
      type: string
      enum:
        [
          PENDING,
          NEGOTIATING,
          CONFIRMED,
          PROCESSING,
          SHIPPED,
          DELIVERED,
          CANCELLED,
        ]

    PaymentStatus:
      type: string
      enum: [UNPAID, PARTIALLY_PAID, PAID, REFUNDED, PARTIALLY_REFUNDED, FAILED]

    PaymentType:
      type: string
      enum: [ADVANCE, FINAL]

    PayoutMethod:
      type: string
      enum: [UPI, IMPS, RTGS, NEFT]

    PayoutStatus:
      type: string
      enum: [PENDING, PROCESSING, PAID, FAILED, QUEUED]

    NegotiationStatus:
      type: string
      enum: [PENDING, ACCEPTED, REJECTED, COUNTERED]

    ShipmentStatus:
      type: string
      enum:
        [
          PENDING,
          BOOKED,
          IN_TRANSIT,
          OUT_FOR_DELIVERY,
          DELIVERED,
          FAILED,
          RETURNED,
        ]

    ReturnStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED, PICKED_UP, COMPLETED]

    FulfillmentStatus:
      type: string
      enum: [PENDING, ASSIGNED, PROCESSING, SHIPPED, DELIVERED, FAILED]

    NotificationType:
      type: string
      enum:
        - SELLER_APPROVED
        - SELLER_REJECTED
        - PRODUCT_APPROVED
        - PRODUCT_REJECTED
        - ORDER_PLACED
        - ORDER_CONFIRMED
        - SHIPMENT_UPDATED
        - PAYMENT_RECEIVED
        - KYC_VERIFIED
        - KYC_REJECTED
        - RETURN_REQUESTED
        - RETURN_APPROVED
        - RETURN_REJECTED
        - PAYOUT_INITIATED
        - PAYOUT_PAID
        - PAYOUT_FAILED
        - PRODUCT_LOW_STOCK

    PrintArea:
      description: Print/design area dimensions configured for a print-on-demand product.
      type: object
      properties:
        id:
          type: string
        productId:
          type: string
        widthCm:
          type: number
          format: double
          example: 25.5
        heightCm:
          type: number
          format: double
          example: 35.0
        safetyMarginCm:
          type: number
          format: double
          default: 0.5
          example: 0.5
        bleedMarginCm:
          type: number
          format: double
          default: 0.3
          example: 0.3
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ReviewStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED]

    Review:
      type: object
      properties:
        id:
          type: string
        orderId:
          type: string
        productId:
          type: string
        customerId:
          type: string
        sellerId:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        comment:
          type: string
          nullable: true
          example: Great print quality, exactly as pictured.
        mediaUrls:
          type: array
          items:
            type: string
            format: uri
        helpfulCount:
          type: integer
          example: 0
        isVerifiedPurchase:
          type: boolean
          example: true
        status:
          $ref: "#/components/schemas/ReviewStatus"
        reviewedBy:
          type: string
          nullable: true
        reply:
          type: string
          nullable: true
        repliedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Session:
      description: A login session for the authenticated user, used for device/session management.
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        deviceInfo:
          type: string
          nullable: true
        ipAddress:
          type: string
          nullable: true
        userAgent:
          type: string
          nullable: true
        lastActiveAt:
          type: string
          format: date-time
        revoked:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time

    Template:
      type: object
      properties:
        id:
          type: string
        productId:
          type: string
        sellerId:
          type: string
        name:
          type: string
          example: Minimalist Birthday Card
        industry:
          type: string
          nullable: true
        style:
          type: string
          nullable: true
        thumbnailUrl:
          type: string
        thumbnailKey:
          type: string
        canvasState:
          type: object
          description: Opaque JSON canvas/design state for the template editor.
        isActive:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UploadAsset:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        url:
          type: string
        key:
          type: string
        fileType:
          type: string
          example: image/png
        createdAt:
          type: string
          format: date-time

    Wallet:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        balance:
          type: number
          format: double
          example: 1500.00
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    WalletTransaction:
      type: object
      properties:
        id:
          type: string
        walletId:
          type: string
        type:
          type: string
          enum: [CREDIT, DEBIT]
        amount:
          type: number
          format: double
        reason:
          type: string
          example: TOPUP
        referenceId:
          type: string
          nullable: true
        balanceAfter:
          type: number
          format: double
        createdAt:
          type: string
          format: date-time

    WalletTopup:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        walletId:
          type: string
        amount:
          type: number
          format: double
        method:
          type: string
          enum: [NEFT, RTGS, UPI, IMPS]
        utrReference:
          type: string
        createdAt:
          type: string
          format: date-time

    WishlistItem:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        productId:
          type: string
        skuId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        product:
          type: object
          description: Present when returned from the list endpoint.
          properties:
            id:
              type: string
            name:
              type: string
            price:
              type: number
              format: double
              nullable: true
            stock:
              type: integer
              nullable: true
            sellerId:
              type: string
            images:
              type: array
              maxItems: 1
              items:
                $ref: "#/components/schemas/ProductImage"
        sku:
          type: object
          nullable: true
          description: Present when returned from the list endpoint and the item has a SKU.
          properties:
            id:
              type: string
            sku:
              type: string
            price:
              type: number
              format: double
            stock:
              type: integer
            options:
              type: object
              additionalProperties:
                type: string

  responses:
    Unauthorized:
      description: Missing or invalid Bearer token.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
            example:
              error: No token provided
    Forbidden:
      description: Authenticated but insufficient role or account not approved.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            success: false
            error: Insufficient platform permissions
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Conflict:
      description: The request conflicts with existing state.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    BadRequest:
      description: Validation failure or a business rule violation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    InternalError:
      description: An unexpected server-side error occurred.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            success: false
            error: Internal server error
    TooManyRequests:
      description: Rate limit exceeded.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying.
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: string
              retryAfter:
                type: integer
          example:
            success: false
            error: Too many requests - please try again later
            retryAfter: 45

paths:
  /health:
    get:
      tags: [Auth]
      summary: Health check
      security: []
      description: Returns server uptime and environment. No authentication required.
      responses:
        "200":
          description: Server is healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  uptime:
                    type: number
                    example: 3612.5
                  timestamp:
                    type: string
                    format: date-time
                  environment:
                    type: string
                    example: production

  /api/auth/login:
    post:
      tags: [Auth]
      summary: Login
      security: []
      description: |
        Authenticates a user with email and password. Returns a short-lived access token
        and a long-lived refresh token. Both sellers and platform admins use this endpoint.

        Rate limit: 10 requests per minute per IP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: seller@example.com
                password:
                  type: string
                  format: password
                  minLength: 6
                  example: secret123
      responses:
        "200":
          description: Login successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  accessToken:
                    type: string
                    description: JWT access token. Short-lived.
                  refreshToken:
                    type: string
                    description: JWT refresh token. Valid for 7 days.
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      name:
                        type: string
                        nullable: true
        "401":
          description: Invalid credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                success: false
                error: Invalid credentials
        "403":
          description: Account is disabled.
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/auth/logout:
    post:
      tags: [Auth]
      summary: Logout
      description: |
        Invalidates the current access token by adding its JTI to a Redis blacklist.
        The token TTL is respected so the blacklist entry expires naturally.
      responses:
        "200":
          description: Logged out successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageEnvelope"
              example:
                success: true
                message: Logged out
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      security: []
      description: |
        Issues a new access token and rotates the refresh token. Pass the refresh token
        in the request body or as the `refreshToken` cookie.

        Rate limit: 10 requests per minute per IP.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: Required if not sent as a cookie.
      responses:
        "200":
          description: Tokens refreshed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
        "401":
          description: Missing or invalid refresh token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                example:
                  error: Invalid refresh token

  /api/auth/me:
    get:
      tags: [Auth]
      summary: Current user
      description: |
        Returns the authenticated user's profile. If the user is a seller, the response
        includes the seller's current approval status.
      responses:
        "200":
          description: Current user profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    allOf:
                      - $ref: "#/components/schemas/User"
                      - type: object
                        properties:
                          sellerId:
                            type: string
                            nullable: true
                          role:
                            type: string
                            example: seller
                          status:
                            type: string
                            nullable: true
                            description: Present when the user is a seller.
                          isApproved:
                            type: boolean
                            nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/sellers/register:
    post:
      tags: [Sellers]
      summary: Register as a seller
      security: []
      description: |
        Creates a new seller account. The seller starts in PENDING status and must be
        approved by a platform admin before accessing any protected seller endpoints.

        Rate limit: 100 requests per minute per IP (public limiter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                [
                  name,
                  email,
                  password,
                  phone,
                  businessName,
                  businessType,
                  address,
                ]
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 100
                  example: Rahul Mehta
                email:
                  type: string
                  format: email
                  example: rahul@mehtaco.in
                password:
                  type: string
                  format: password
                  minLength: 8
                phone:
                  type: string
                  pattern: '^\+?[6-9]\d{9}$'
                  example: "9876543210"
                businessName:
                  type: string
                  minLength: 2
                  maxLength: 100
                  example: Mehta Traders Pvt Ltd
                businessType:
                  $ref: "#/components/schemas/BusinessType"
                address:
                  $ref: "#/components/schemas/Address"
      responses:
        "201":
          description: Seller registered. Awaiting admin approval.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Seller"
        "409":
          description: Email already registered.
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/sellers/invite:
    post:
      tags: [Sellers]
      summary: Invite a seller
      description: |
        Sends an invite to an email address. The invited seller receives a unique token
        to complete registration via POST /api/sellers/invite/accept.

        "Required platform role: super_admin or onboarding_manager."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "201":
          description: Invite sent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: A seller with this email already exists.
          $ref: "#/components/responses/Conflict"

  /api/sellers/invite/accept:
    post:
      tags: [Sellers]
      summary: Accept a seller invite
      security: []
      description: |
        Completes seller registration using the token from an invite email. The seller
        account is created in PENDING state.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                [
                  token,
                  name,
                  password,
                  phone,
                  businessName,
                  businessType,
                  address,
                ]
              properties:
                token:
                  type: string
                name:
                  type: string
                  minLength: 2
                password:
                  type: string
                  minLength: 8
                phone:
                  type: string
                  pattern: '^\+?[6-9]\d{9}$'
                businessName:
                  type: string
                businessType:
                  $ref: "#/components/schemas/BusinessType"
                address:
                  $ref: "#/components/schemas/Address"
      responses:
        "201":
          description: Seller account created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: Invalid, already-used, or expired invite token.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/kyc:
    post:
      tags: [Sellers]
      summary: Submit KYC
      description: |
        Submits KYC documents for the authenticated seller. Can only be submitted once.
        The seller must be in an active (non-suspended, approved) state.

        Required seller role: owner.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [aadharNumber, panNumber]
              properties:
                aadharNumber:
                  type: string
                  pattern: '^\d{12}$'
                  example: "123456789012"
                panNumber:
                  type: string
                  pattern: "^[A-Z]{5}[0-9]{4}[A-Z]$"
                  example: ABCDE1234F
                gstNumber:
                  type: string
                  pattern: '^\d{2}[A-Z]{5}\d{4}[A-Z]{1}[A-Z\d]{1}[Z]{1}[A-Z\d]{1}$'
                  nullable: true
                businessRegNumber:
                  type: string
                  nullable: true
      responses:
        "201":
          description: KYC submitted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/SellerKyc"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: KYC already submitted.
          $ref: "#/components/responses/Conflict"

  /api/sellers/bank:
    post:
      tags: [Sellers]
      summary: Add bank details
      description: "Required seller role: owner."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountHolderName, accountNumber, ifscCode, bankName]
              properties:
                accountHolderName:
                  type: string
                accountNumber:
                  type: string
                  pattern: '^\d{9,18}$'
                ifscCode:
                  type: string
                  pattern: "^[A-Z]{4}0[A-Z0-9]{6}$"
                  example: SBIN0001234
                bankName:
                  type: string
      responses:
        "201":
          description: Bank details saved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/SellerBankDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Bank detail already added.
          $ref: "#/components/responses/Conflict"
    get:
      tags: [Sellers]
      summary: Get bank details
      description: "Required seller role: owner."
      responses:
        "200":
          description: Bank details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/SellerBankDetail"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Sellers]
      summary: Update bank details
      description: |
        All fields are optional. Changing the account number or IFSC code re-runs
        bank account verification with the configured provider.

        Required permission: SELLER_BANK.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountHolderName:
                  type: string
                accountNumber:
                  type: string
                  pattern: '^\d{9,18}$'
                ifscCode:
                  type: string
                  pattern: "^[A-Z]{4}0[A-Z0-9]{6}$"
                  example: SBIN0001234
                bankName:
                  type: string
      responses:
        "200":
          description: Bank details updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/SellerBankDetail"
        "400":
          description: Bank detail not found, seller not found, or bank account verification failed.
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/sellers/bank/verify-ifsc:
    post:
      tags: [Sellers]
      summary: Verify an IFSC code
      description: "Looks up bank and branch details for an IFSC code. Required permission: SELLER_BANK."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ifscCode]
              properties:
                ifscCode:
                  type: string
                  pattern: "^[A-Z]{4}0[A-Z0-9]{6}$"
                  example: SBIN0001234
      responses:
        "200":
          description: IFSC lookup result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      verified:
                        type: boolean
                      bankName:
                        type: string
                      branch:
                        type: string
                      message:
                        type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/sellers/members:
    post:
      tags: [Sellers]
      summary: Add a seller team member
      description: |
        Adds an existing platform user to the seller's team with the specified role.

        Required seller role: owner or manager.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, roleId]
              properties:
                email:
                  type: string
                  format: email
                roleId:
                  type: string
      responses:
        "201":
          description: Member added.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: User not found, role not found, or user already a member.
          $ref: "#/components/responses/BadRequest"
    get:
      tags: [Sellers]
      summary: List seller team members
      description: "Required permission: SELLER_MEMBERS_VIEW."
      parameters:
        - name: search
          in: query
          schema:
            type: string
          description: Filter by member name or email (case-insensitive).
        - name: role
          in: query
          schema:
            type: string
          description: Filter by role name.
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Seller team members.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SellerMember"
                  meta:
                    type: object
                    description: Pagination metadata.

  /api/sellers/members/invite:
    post:
      tags: [Sellers]
      summary: Invite a new team member
      description: |
        Invites a user (who may or may not already have a platform account) to join
        the seller's team with the specified role. The invitee accepts via
        POST /api/sellers/invites/accept.

        Required permission: SELLER_MEMBERS_MANAGE.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, roleId]
              properties:
                email:
                  type: string
                  format: email
                roleId:
                  type: string
                name:
                  type: string
      responses:
        "201":
          description: Invite created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/TeamInvite"
        "400":
          description: Role not found, user already a member, or invite already pending for this email.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/members/{memberId}:
    delete:
      tags: [Sellers]
      summary: Remove a seller team member
      description: "Required permission: SELLER_MEMBERS_MANAGE."
      parameters:
        - $ref: "#/components/parameters/memberId"
      responses:
        "200":
          description: Member removed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: Member not found, or cannot remove the owner.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/members/{memberId}/role:
    patch:
      tags: [Sellers]
      summary: Update a seller team member's role
      description: "Required seller role: owner."
      parameters:
        - $ref: "#/components/parameters/memberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roleId]
              properties:
                roleId:
                  type: string
      responses:
        "200":
          description: Member role updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/sellers/roles:
    get:
      tags: [Sellers]
      summary: List seller roles
      description: "Required permission: SELLER_ROLES_MANAGE."
      responses:
        "200":
          description: Roles defined for the seller, including the default owner/manager/staff roles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SellerRole"
    post:
      tags: [Sellers]
      summary: Create a custom seller role
      description: "Required permission: SELLER_ROLES_MANAGE."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 30
                description:
                  type: string
      responses:
        "201":
          description: Role created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/SellerRole"
        "400":
          description: A role with this name already exists.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/roles/{roleId}:
    patch:
      tags: [Sellers]
      summary: Update a seller role
      description: |
        Default roles (owner, manager, staff) cannot be modified.

        Required permission: SELLER_ROLES_MANAGE.
      parameters:
        - $ref: "#/components/parameters/roleId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 30
                description:
                  type: string
      responses:
        "200":
          description: Role updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/SellerRole"
        "400":
          description: Role not found, or cannot modify default roles.
          $ref: "#/components/responses/BadRequest"
    delete:
      tags: [Sellers]
      summary: Delete a seller role
      description: |
        Default roles cannot be deleted, and a role with active members cannot be deleted.

        Required permission: SELLER_ROLES_MANAGE.
      parameters:
        - $ref: "#/components/parameters/roleId"
      responses:
        "200":
          description: Role deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: Role not found, cannot delete default roles, or role has active members.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/roles/{roleId}/permissions:
    get:
      tags: [Sellers]
      summary: List a role's permissions
      description: "Required permission: SELLER_ROLES_MANAGE."
      parameters:
        - $ref: "#/components/parameters/roleId"
      responses:
        "200":
          description: Role with its assigned permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      permissions:
                        type: array
                        items:
                          type: object
                          properties:
                            permission:
                              $ref: "#/components/schemas/Permission"
        "400":
          description: Role not found.
          $ref: "#/components/responses/BadRequest"
    put:
      tags: [Sellers]
      summary: Replace a role's permissions
      description: |
        Replaces the full set of permissions assigned to the role. The owner role's
        permissions cannot be modified.

        Required permission: SELLER_ROLES_MANAGE.
      parameters:
        - $ref: "#/components/parameters/roleId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                permissions:
                  type: array
                  description: Permission keys to assign to the role (replaces existing assignments).
                  items:
                    type: string
                    example: seller.bank.manage
      responses:
        "200":
          description: Role permissions updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      roleId:
                        type: string
                      permissions:
                        type: array
                        items:
                          type: string
        "400":
          description: Role not found, or cannot modify owner role permissions.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/permissions:
    get:
      tags: [Sellers]
      summary: List all available permissions
      description: "Required permission: SELLER_ROLES_MANAGE."
      responses:
        "200":
          description: All permissions that can be assigned to a role.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Permission"

  /api/sellers/invites:
    get:
      tags: [Sellers]
      summary: List pending team invites
      description: "Required permission: SELLER_INVITES_MANAGE."
      responses:
        "200":
          description: Pending team invites for the seller.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TeamInvite"

  /api/sellers/invites/{inviteId}:
    delete:
      tags: [Sellers]
      summary: Revoke a team invite
      description: "Required permission: SELLER_INVITES_MANAGE."
      parameters:
        - $ref: "#/components/parameters/inviteId"
      responses:
        "200":
          description: Invite revoked.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/TeamInvite"
        "400":
          description: Invite not found, or already used or expired.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/invites/resend:
    post:
      tags: [Sellers]
      summary: Resend a team invite
      description: |
        Extends the invite's expiry by 7 days and re-sends the invite email.

        Required permission: SELLER_INVITES_MANAGE.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [inviteId]
              properties:
                inviteId:
                  type: string
      responses:
        "200":
          description: Invite resent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/TeamInvite"
        "400":
          description: Invite not found, or already used or expired.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/invites/accept:
    post:
      tags: [Sellers]
      summary: Accept a team invite
      security: []
      description: |
        Completes joining a seller's team using the token from a team invite email.
        If no platform account exists for the invited email, one is created.
        No authentication required — the invitee may not have an account yet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, name, password]
              properties:
                token:
                  type: string
                name:
                  type: string
                  minLength: 2
                password:
                  type: string
                  minLength: 8
      responses:
        "201":
          description: Team invite accepted; membership created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          email:
                            type: string
                            format: email
                      member:
                        $ref: "#/components/schemas/SellerMember"
        "400":
          description: Invalid invite token, invite already used or revoked, or invite expired.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/pending:
    get:
      tags: [Sellers]
      summary: List pending sellers
      description: "Required platform role: super_admin or onboarding_manager."
      responses:
        "200":
          description: List of pending sellers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Seller"

  /api/sellers/all:
    get:
      tags: [Sellers]
      summary: List all sellers
      description: "Required platform role: super_admin or onboarding_manager."
      parameters:
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/SellerStatus"
          description: Filter by seller status.
      responses:
        "200":
          description: List of sellers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Seller"

  /api/sellers/kyc/pending:
    get:
      tags: [Sellers]
      summary: List pending KYC submissions
      description: "Required platform role: super_admin or onboarding_manager."
      responses:
        "200":
          description: Sellers with pending KYC.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /api/sellers/{sellerId}:
    get:
      tags: [Sellers]
      summary: Get seller by ID
      description: "Required platform role: super_admin, onboarding_manager, or product_reviewer."
      parameters:
        - $ref: "#/components/parameters/sellerId"
      responses:
        "200":
          description: Seller record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Seller"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/sellers/{sellerId}/approve:
    patch:
      tags: [Sellers]
      summary: Approve a seller
      description: |
        Transitions the seller from PENDING to APPROVED. A notification is sent to the seller.

        "Required platform role: super_admin or onboarding_manager."
      parameters:
        - $ref: "#/components/parameters/sellerId"
      responses:
        "200":
          description: Seller approved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: Seller not found or not in PENDING status.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/{sellerId}/reject:
    patch:
      tags: [Sellers]
      summary: Reject a seller
      description: "Required platform role: super_admin or onboarding_manager."
      parameters:
        - $ref: "#/components/parameters/sellerId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 5
      responses:
        "200":
          description: Seller rejected.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/sellers/{sellerId}/suspend:
    patch:
      tags: [Sellers]
      summary: Suspend a seller
      description: "Required platform role: super_admin."
      parameters:
        - $ref: "#/components/parameters/sellerId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 5
      responses:
        "200":
          description: Seller suspended.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/sellers/{sellerId}/reactivate:
    patch:
      tags: [Sellers]
      summary: Reactivate a suspended seller
      description: "Required platform role: super_admin."
      parameters:
        - $ref: "#/components/parameters/sellerId"
      responses:
        "200":
          description: Seller reactivated (status set back to APPROVED).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: Seller not found, or seller is not suspended.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/{sellerId}/kyc/verify:
    patch:
      tags: [Sellers]
      summary: Verify a seller's KYC
      description: "Required platform role: super_admin or onboarding_manager."
      parameters:
        - $ref: "#/components/parameters/sellerId"
      responses:
        "200":
          description: KYC verified.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: KYC not found or already verified.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/{sellerId}/kyc/reject:
    patch:
      tags: [Sellers]
      summary: Reject a seller's KYC
      description: "Required platform role: super_admin or onboarding_manager."
      parameters:
        - $ref: "#/components/parameters/sellerId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 5
      responses:
        "200":
          description: KYC rejected.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/sellers/{sellerId}/bank/reverify:
    patch:
      tags: [Sellers]
      summary: Re-run bank verification for a seller
      description: |
        Re-submits the seller's existing bank details to the bank verification provider.

        Required platform role: super_admin or onboarding_manager.
      parameters:
        - $ref: "#/components/parameters/sellerId"
      responses:
        "200":
          description: Bank detail reverified.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/SellerBankDetail"
        "400":
          description: Bank detail not found, seller not found, or bank account verification failed.
          $ref: "#/components/responses/BadRequest"

  /api/sellers/{sellerId}/bank/override:
    patch:
      tags: [Sellers]
      summary: Manually override a seller's bank verification status
      description: |
        Sets the bank detail's verification status directly, bypassing the automated
        provider check. Intended for support/ops use when automated verification is
        inconclusive.

        Required platform role: super_admin or onboarding_manager.
      parameters:
        - $ref: "#/components/parameters/sellerId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [verificationStatus, reason]
              properties:
                verificationStatus:
                  type: string
                  enum: [VERIFIED, NAME_MISMATCH, FAILED]
                reason:
                  type: string
                  minLength: 5
      responses:
        "200":
          description: Bank verification status overridden.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/SellerBankDetail"
        "400":
          description: Bank detail not found.
          $ref: "#/components/responses/BadRequest"

  /api/shops/all:
    get:
      tags: [Shops]
      summary: List all shops (platform admin)
      description: "Required platform role: super_admin."
      parameters:
        - name: search
          in: query
          schema:
            type: string
          description: Filter by shop name or slug (case-insensitive).
        - name: status
          in: query
          schema:
            type: string
            enum: [active, pending, inactive]
          description: Filter by shop status (active=APPROVED, pending=PENDING, inactive=REJECTED).
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Shops across all sellers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Shop"
                  meta:
                    type: object
                    description: Pagination metadata.

  /api/shops:
    post:
      tags: [Shops]
      summary: Create a shop
      description: |
        Creates a new shop under the authenticated seller's account.
        The seller must be in APPROVED status.

        Required seller role: owner or manager.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - category
                - contactEmail
                - contactPhone
                - pickupStreet
                - pickupCity
                - pickupState
                - pickupPincode
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 100
                  example: Mehta Electronics
                description:
                  type: string
                category:
                  type: string
                  example: Electronics
                logo:
                  type: string
                  format: uri
                banner:
                  type: string
                  format: uri
                contactEmail:
                  type: string
                  format: email
                contactPhone:
                  type: string
                  pattern: '^\+?[6-9]\d{9}$'
                returnPolicy:
                  type: string
                pickupStreet:
                  type: string
                  minLength: 5
                pickupCity:
                  type: string
                pickupState:
                  type: string
                pickupPincode:
                  type: string
                  pattern: '^\d{6}$'
      responses:
        "201":
          description: Shop created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Shop"
        "400":
          description: Seller not found or not approved.
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    get:
      tags: [Shops]
      summary: List seller's shops
      description: "Required seller role: owner, manager, or staff."
      responses:
        "200":
          description: Shops belonging to the authenticated seller.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Shop"

  /api/shops/{shopId}:
    get:
      tags: [Shops]
      summary: Get a shop
      description: "Required seller role: owner, manager, or staff."
      parameters:
        - $ref: "#/components/parameters/shopId"
      responses:
        "200":
          description: Shop record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Shop"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Shops]
      summary: Update a shop
      description: |
        All fields are optional. Rejected shops cannot be updated.

        Required seller role: owner or manager.
      parameters:
        - $ref: "#/components/parameters/shopId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                category:
                  type: string
                logo:
                  type: string
                  format: uri
                banner:
                  type: string
                  format: uri
                contactEmail:
                  type: string
                  format: email
                contactPhone:
                  type: string
                returnPolicy:
                  type: string
                pickupStreet:
                  type: string
                pickupCity:
                  type: string
                pickupState:
                  type: string
                pickupPincode:
                  type: string
      responses:
        "200":
          description: Shop updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Shop"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/shops/access/{memberId}:
    put:
      tags: [Shops]
      summary: Set a team member's shop access
      description: |
        Restricts the member to the given list of shops. Members with the owner or
        manager role always have access to all shops and cannot be restricted.

        Required seller role: owner or manager.
      parameters:
        - $ref: "#/components/parameters/memberId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [shopIds]
              properties:
                shopIds:
                  type: array
                  items:
                    type: string
                  description: CUIDs of shops the member may access. An empty array revokes all shop access.
      responses:
        "200":
          description: Shop access updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    description: The member's resulting shop access grants.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        memberId:
                          type: string
                        shopId:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        shop:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
        "400":
          description: Member not found, owner/manager roles already have access to all shops, or one or more shops not found.
          $ref: "#/components/responses/BadRequest"
    get:
      tags: [Shops]
      summary: Get a team member's shop access
      description: "Required seller role: owner or manager."
      parameters:
        - $ref: "#/components/parameters/memberId"
      responses:
        "200":
          description: The member's shop access.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      unrestricted:
                        type: boolean
                        description: True if the member's role (owner/manager) grants access to all shops.
                      shops:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
        "404":
          description: Member not found.
          $ref: "#/components/responses/NotFound"

  /api/shops/{shopId}/auto-assign:
    patch:
      tags: [Shops]
      summary: Enable or disable order auto-assignment for a shop
      description: "Required seller role: owner."
      parameters:
        - $ref: "#/components/parameters/shopId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled:
                  type: boolean
      responses:
        "200":
          description: Auto-assign setting updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Shop"
        "404":
          description: Shop not found.
          $ref: "#/components/responses/NotFound"

  /api/categories:
    get:
      tags: [Categories]
      summary: List categories
      security: []
      description: Returns categories, optionally filtered to direct children of a parent.
[...]
